@{ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="our_activity">
    <h2>¿Quiénes somos?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h2><a href="#">Recaudaciones</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <h2><a href="#">Voluntariado</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <h2><a href="#">Proyectos</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
        </div>
    </div>
</section>